<ion-content fullscreen>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
        refreshingSpinner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  <!-- <ion-list>
    <ion-list-header>
      Equipments
    </ion-list-header>

    <ion-item *ngFor="let equipment of equipments" (click)='allocate(equipment.id)'>
      <ion-avatar slot="start">
        <img src="{{equipment.imageUrl}}">
      </ion-avatar>
      <ion-label>
        <h2> {{equipment.name}} | {{equipment.idNo}}</h2>
        <h3>{{equipment.description}} </h3>
        <p>In Room No {{equipment.roomNo}}</p>
        <p><b class="uk-badge" *ngIf="equipment.isInUsed"> Unavaliable</b> <b class="uk-badge"
            *ngIf="!equipment.isInUsed"> Avaliable</b></p>
      </ion-label>
    </ion-item>

  </ion-list> -->
  <div class="uk-child-width-1-2@s uk-child-width-1-@m uk-grid-match uk-grid-collapse" uk-grid>
    <div *ngFor="let equipment of equipments">
      <ion-card (click)='allocate(equipment.id)'>
        <ion-card-header>
          <ion-card-subtitle>In Room No {{equipment.roomNo}}</ion-card-subtitle>
          <ion-card-title>{{equipment.name}} | {{equipment.idNo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{equipment.description}}
          <br>
          <b class="uk-badge" *ngIf="equipment.isInUsed"> Unavaliable</b> <b class="uk-badge" *ngIf="!equipment.isInUsed">
            Avaliable</b>
        </ion-card-content>
        </ion-card>
        </div>
 </div>
 
</ion-content>