<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="uk-card uk-card-default  uk-margin-top ion-padding">
    <img src="./assets/img/worker.svg" style="height: 150px;" class="uk-margin-auto">

    
      <div *ngIf="error" class="uk-alert uk-alert-danger">{{error}}</div>
      <!-- <button (click)='start()' class="uk-button uk-align-center uk-text-center app-bg-primary-color"> Use Google</button> -->
      
    <!-- <div class="uk-alert uk-alert-danger">{{error}}</div>
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div> -->
      <form [formGroup]="form" (ngSubmit)='login()'>
        <div class="uk-form-stacked">
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">ID NO</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" formControlName='password' type="text" placeholder="ID NO" />
              </div>
            </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">USER ID</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-text" formControlName='email' type="text" placeholder="USER ID" />
        </div>
      </div>
    
    
      <div class="uk-margin">
        <button type="submit" class="uk-button app-bg-primary-color">Login</button>
        
        <div class="uk-margin">
        <br />
        <!-- <a class="uk-text-small uk-align-center uk-text-center" routerLink="/home/register">create account </a> -->
      </div>
      </div>
    </div>
    </form>
  
  </div>
</ion-content>