 @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

 .pink-background {
    background: #b3354b !important;
    color: white;
}

body,p,h1,h2,h3{
    font-family: 'Shadows Into Light', cursive !important; 
    font-weight: bolder;
}