<!-- <div class="uk-inline pink-background uk-height-viewport">
  <div class="uk-overlay uk-margin-auto uk-margin-auto-vertical uk-overlay-default uk-width-1-2">Top Center</div>
</div> -->

<div class="uk-flex pink-background uk-height-viewport uk-margin uk-text-center">
  <div class="uk-margin-auto uk-margin-auto-vertical uk-padding-large uk-width-1-2@s">
    <h1 style="color: white;">NEU</h1>
    <p>NEU Resource Management and Attendance system</p>
    <img src="./assets/img/neuIcon.png" width="300px" class="uk-margin" alt="NEU LOGO">
    <p>Near East University International Research center for AI and IOT</p>
  </div>
</div>