<ion-header translucent>
  <ion-toolbar>
    <ion-title>Assign Equipment</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="uk-card uk-background-muted uk-padding">
    <h3>Assign Equipment</h3>
    <img src="./assets/img/assign.svg" class="uk-align-center" style="height: 120px; margin-bottom: 10px;">
    <div>
      Eqipment Name <br>
      <b>{{equipmentsUsage?.equipment.name}}</b> <br>
      Description <br>
      <b>{{equipmentsUsage?.equipment.description}}</b>
    </div>


    <form [formGroup]="form" (ngSubmit)="submit()">


      <div class="uk-form-stacked">
        <div class="uk-margin">
          <br>
          <label class="uk-form-label" for="form-stacked-text"> Room Id</label>
          <div class="uk-text-danger">{{errorMessage}}</div>

          <div class="uk-form-controls">
            <input class="uk-input" required formControlName="groupId" type="text" placeholder="Enter Room Id" />
          </div>

        </div>
        <div class="uk-margin">
          <div class="uk-form-label">Location</div>
          <!-- <div class="uk-form-controls">
            <select class="uk-select" #selectLoc (change)='switchLocation(selectLoc.value)'>
              <option value="true" selected> Use current
                location </option>
              <option value="false">enter a location</option>
            </select>
          </div> -->
          <div>
            Lat: {{currentPoint.lat}} <br>
            Lng: {{currentPoint.lng}}

            <div id='map' class="uk-width-1-1" style="height: 250px;">
              <p>Loading Map please wait ......</p>
            </div>
          </div>
        </div>
        <div class="uk-margin">
          <button type="submit" class="uk-button app-bg-primary-color" [disabled]='loading'>Allocate
            Equipment</button>
        </div>
      </div>
    </form>
  </div>
</ion-content>